@model MyApp.Models.ViewModel.CartVM
@using Microsoft.Extensions.Options
@inject IOptions<MyApp.CommonHelper.StripeSettings> Stripes
<form method="post">
    <!--Main layout-->
    <main class="mt-5 pt-4">
        <div class="container wow fadeIn">

            <!-- Heading -->
            <h2 class="my-5 h2 text-center">Checkout form</h2>

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-8 mb-4">

                    <!--Card-->
                    <div class="card">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12 mb-2">
                                <!--firstName-->
                                <div class="md-form ">
                                    <label for="firstName" class="">Name</label>
                                    <input type="text" asp-for="@Model.OrderHeader.Name" id="Name" class="form-control">
                                </div>

                            </div>







                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <!--email-->
                        <div class="md-form mb-5">
                            <label for="phone" class="">Phone</label>
                            <input type="text" asp-for="@Model.OrderHeader.Phone" id="phone" class="form-control" placeholder="enter your phone no">
                        </div>

                        <!--address-->
                        <div class="md-form mb-5">
                            <label for="address" class="">Address</label>
                            <input type="text" asp-for="@Model.OrderHeader.Address" id="address" class="form-control" placeholder="1234 Main St">
                        </div>

                        <!--address-2-->
                        <div class="md-form mb-5">
                            <label for="address-2" class=""> City</label>
                            <input type="text" asp-for="@Model.OrderHeader.City" id="city" class="form-control" placeholder="Apartment or suite">
                        </div>

                        <div class="md-form mb-5">
                            <label for="address-2" class=""> State</label>
                            <input type="text" asp-for="@Model.OrderHeader.State" id="city" class="form-control" placeholder="Apartment or suite">
                        </div>

                        <div class="md-form mb-5">
                            <label for="address-2" class=""> Postal Code</label>
                            <input type="text" asp-for="@Model.OrderHeader.PostalCode" id="city" class="form-control" placeholder="Apartment or suite">
                        </div>

                        <hr>

                        @*                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="same-address">
                        <label class="custom-control-label" for="same-address">Shipping address is the same as my billing address</label>
                        </div>
                        <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="save-info">
                        <label class="custom-control-label" for="save-info">Save this information for next time</label>
                        </div>

                        <hr>

                        <div class="d-block my-3">
                        <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                        <label class="custom-control-label" for="credit">Credit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="debit">Debit card</label>
                        </div>
                        <div class="custom-control custom-radio">
                        <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                        <label class="custom-control-label" for="paypal">Paypal</label>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-6 mb-3">
                        <label for="cc-name">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required>
                        <small class="text-muted">Full name as displayed on card</small>
                        <div class="invalid-feedback">
                        Name on card is required
                        </div>
                        </div>
                        <div class="col-md-6 mb-3">
                        <label for="cc-number">Credit card number</label>
                        <input type="text" class="form-control" id="cc-number" placeholder="" required>
                        <div class="invalid-feedback">
                        Credit card number is required
                        </div>
                        </div>
                        </div>
                        <div class="row">
                        <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required>
                        <div class="invalid-feedback">
                        Expiration date required
                        </div>
                        </div>
                        <div class="col-md-3 mb-3">
                        <label for="cc-expiration">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" placeholder="" required>
                        <div class="invalid-feedback">
                        Security code required
                        </div>
                        </div>
                        </div>
                        <hr class="mb-4">*@
                    </div>
                    <!--/.Card-->

                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-4 mb-4">

                    <!-- Heading -->
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text-muted">Summary</span>
                        <span class="badge badge-secondary badge-pill">3</span>
                    </h4>
                    @foreach (var details in Model.ListOfCart)
                    {
                        <!-- Cart -->
                        <ul class="list-group mb-3 z-depth-1">

                            <li class="list-group-item d-flex justify-content-between lh-condensed">
                                <h6 class="my-0">Product name</h6>
                                <small class="text-muted">@details.Product.Name</small>
                                <h6 class="my-0">QTY</h6>
                                <small class="text-muted">@details.Count</small>
                                <h6 class="my-0">Price:</h6>
                                <small class="text-muted">@(((details.Count) * (details.Product.Price)).ToString("c"))</small>
                            </li>
                        </ul>
                    }

                    <!-- Cart -->
                    <!-- Promo code -->
                    @*<form class="card p-2">
                    <div class="input-group">
                    <strong>Total Amount</strong>
                    <div class="input-group-append align-items-end">
                    <span><strong>@Model.OrderHeader.OrderTotal.ToString("c")</strong></span>
                    </div>
                    </div>
                    </form>*@
                    <!-- Promo code -->
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div>
                            <strong>Total Amount</strong>
                        </div>
                        <span><strong>@Model.OrderHeader.OrderTotal.ToString("c")</strong></span>
                    </li>
                    <button class="btn btn-primary btn-lg btn-block" type="submit">Make Purchase</button>
                </div>
                <!--Grid column-->
                

            </div>
            <!--Grid row-->

        </div>
    </main>
    <!--Main layout-->
</form>